@import url('https://fonts.googleapis.com/css?family=Abel|Caveat|Roboto:300,400,500&display=swap');

body {
    background-color: #1a1a1a;
    }

h1,h2,h3,h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar > a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;    
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.navbar > a:hover {
    color: #444;
    background-color: transparent;
    text-decoration: none;
}

.jumbotron {
    padding: 0;
    background-color: transparent;
}

.jumbotron-header {
    color: #fff;
    font-family: "Abel", sans-serif;
    font-size: 80px;
    transition: all 3s ease-in-out;   
}

.bg-image {
    height: 80vh;
    background: url("../images/2a.jpg") center center/cover no-repeat fixed padding-box border-box;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-image {
    height: 60vh;
    background: url("../images/p7.jpg") center center/cover no-repeat fixed padding-box border-box;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-image {
    height: 60vh;
    background: url("../images/contact-us.jpg") center center/cover no-repeat fixed padding-box border-box;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bg-color-contact {
    background-color: rgb(238, 238, 238);
}

.about-header {
    color: #fff;
    font-family: "Caveat", sans-serif;
    font-size: 150px;
    font-weight: bold;       
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}


.content-container {
    padding-top: 50px;
    padding-bottom: 75px;
    
}

.container-wrapper--grey {
    background-color: #9e9e9e;
    color: black;
    margin: 0px;
}




.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;    
}

.block-divider {
    width: 150px;
    height: 5px;
    border: 0;
    background-color: #444;    
}


.block-divider--short {
    width: 250px;
    margin-bottom: 50px;    
}

.block-divider--white {
    background-color: black;
}

.page-header a {
    font-family: "Abel", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #d41a1a;
    text-decoration: none;
}

.page-header a:hover {
    color: #444;
}

.services-text {
    text-align: center;
    margin-bottom: 40px;
}

.our-services {
    color: #fafafa;
    text-align: left;
    margin-bottom: 15px;
}

.table th {
    color: black;
    text-align: left;
    font-family: "Abel", sans-serif;
    font-size: 30px;    
}

.table td {
    font-family: "Abel", sans-serif;     
}

.services-wrap {
    background-color: rgb(238, 238, 238);
    padding: 20px;
    margin: 5px auto;    
}

.our-services-wrap {
    background-color: rgb(99, 98, 98);
    padding: 20px;
    margin: 0;    
}

.price-list {
    background-color: rgb(238, 238, 238);
    padding: 20px;
    margin: 0;    
}

.services-text i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.services-text h5 {
    margin: 20px;
    text-align: center;
    font-family: "Abel", sans-serif;
}

.services-text h4 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-family: "Abel", sans-serif;
}

.images-container {
    background-color: #9e9e9e;
    margin-top: 80px;    
}

.polaroid {
    max-width: 375px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 70px auto;
    padding: 0;
}

.polaroid p {
    text-align: center;
    font-family: "Abel", sans-serif;
    margin-top: 10px;
}

.zoom {
    transition: transform .2s;
    width: 200px;
    height: auto;
    
}

.zoom:hover {
    transform: scale(1.2);
}

.contact-heading {
    font-family: "Caveat", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="button"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}


footer {
    background-color: #1a1a1a;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.col-sm-4 p {
    margin: 10px 0 0 0;
}

.social-links {
    padding-top: 15px;
    padding-bottom: 15px;
    float: right;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;    
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

.contact-align {
   text-align: center;
}

.title-align {
   text-align: right;
}



/* -----------------------------------Media Queries*/


@media(max-width: 768px) {
    .center-form {
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
    }

    .jumbotron-header {
    color: #fff;
    font-family: "Abel", sans-serif;
    font-size: 35px;
    }

    .services-text h4 {
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    font-family: "Abel", sans-serif;
    }


    .polaroid {
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    padding: 0;
    }

    .zoom:hover {
    transform: none;
    }

    .contact-align {
   text-align: left;
   padding-top: 30px;
    }

    .title-align {
   text-align: right;
   padding-top: 30px;
    }


}    